<p id="notice"><%= notice %></p>

<h1>Series Recap</h1>

<div>
<%= form_tag import_episodes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
  <%end%> 
</div>

<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Episode Number</th>
      <th>CTD</th>
      <th>ETC</th>
      <th>EFC</th>
      <th>Breakage</th>
      <th>Budget</th>
      <th>Variance</th>
      <th colspan="35"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.episode_num %></td>
        <td><%= number_to_currency(episode.cost_to_date) %></td>
        <td><%= number_to_currency(episode.estimate_to_complete) %></td>
        <td><%= number_to_currency(episode.estimated_final_cost) %></td>
        <td><%= number_to_currency(episode.breakage) %></td>
        <td><%= number_to_currency(episode.budget) %></td>
        <td><%= number_to_currency(episode.variance) %></td>
        
        <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
        <td><%= link_to 'Delete', episode, method: :delete, data: { confirm: 'Confirm Delete?' } %></td>
      </tr>
    <% end %>
    <tr>
      <th> Total All Episodes </th>
      <th> <%= number_to_currency(Episode.total_cost_to_date) %></th>
      <th> <%= number_to_currency(Episode.total_estimate_to_complete) %></th>
      <th> <%= number_to_currency(Episode.total_estimated_final_cost) %></th>
      <th> <%= number_to_currency(Episode.total_breakage) %></th>
      <th> <%= number_to_currency(Episode.total_budget) %></th>
      <th> <%= number_to_currency(Episode.total_variance) %></th>
  </tr>
  </tbody>
  
</table>
</div>



